@font-face {
    font-family: roya;
    src: url('fonts/RoyaB.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: roya;
    src: url('fonts/RoyaR.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: roya;
    direction: rtl;
    background-color: #eee;
    padding: 0;
    margin: 0;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

#nav {
    background-color: black;
    color: blanchedalmond;
    bottom: 1px solid gray;
    width: 100%;
    height: 50px;
    position: fixed;

}

#nav span {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(image/menu.png);
    border: 1px solid gray;
    margin: 10px;
    margin-right: 20px;
    cursor: pointer;
}

#nav ul {
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    top: 51px;
}

#nav li {
    line-height: 2.5rem;

}

#nav a {
    color: #eee;
    font-size: 18px;
    padding-right: 20px;
    border-bottom: 1px solid gray;
    transition: 0.2s;
    text-decoration: none;
    display: block;

}

#nav a:hover {
    background-color: #EC5;
    color: #222;
}

#header {

    color: white;

    min-height: 320px;
    padding: 10px;
    background-image: url(image/header.jpg);
    background-position:center center;
    background-size: cover;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;    
}

#header h1 {
    margin-top: 40px;
}

#header p {
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}
#products{
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
    max-width: 400px;

}
.item{
    text-align: center;
    margin:0px auto;
    background-color: white;
    max-width: 480px;
    align-items: center;
}
.item:hover{
    box-shadow: 0 0 3px 1px black;
}
.item img{
    display: block;
    width: 100%;
}
